/*  your css code here. If applicable */
h1,h2{
	text-align:center;
}
body {
            background-color: rgb(204, 204, 204);
            font-family: Arial, sans-serif;
            width: 1100px;
            margin: auto;
            text-align: center;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        ul li a {
            text-decoration-line: none;
        }
        .player_one, .player_two {
            background-color: rgb(255, 255, 255);
            padding: 10px;
            border-radius: 5px;
            margin: 20px auto;
            width: fit-content;
        }